@charset "UTF-8";

body {
	background-color: rgba(244,243,243,1.00);
	max-width: 960px;
	margin: auto;
	padding: 10px;
}
.centered {
	text-align: center;
}
p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: auto;
	font-size: medium;
}
.pagehead2 {
	font-style: italic;
	font-family: 'Times-Roman', 'Times', 'Times New Roman', serif;
}
.publicationstyle {
	font-family: 'Times-Roman', 'Times', 'Times New Roman', serif;
	font-size: 15px;
}
.somepapers {
    margin-left: 20px;
    text-indent: 0px;
    font-size: medium;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.pagehead {
	font-size: 24px;
}
.style_3 {
	font-style: italic;
}
.style_2 {
	font-weight: bold;
	color: #033A0D;
}
.style_5 {
	font-style: italic;
}
.style_1 {
	font-size: small;
}
